
*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: #121212;
    font-family: "Inter", sans-serif;
    color: white;
    
}
.cover{
    width: 100%;
    background-image: url(images/cover.png);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 330px;
    height: 208px;
    /* position: relative; */
}
.cover-text-content{
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cover h1{
    font-size: 43px;
    font-weight: 900;
}
.cover a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.input-section{
    background-color: #2E2E2F;
    width: 462px;
    display: grid;
    grid-template-columns: 41fr 301fr 120fr;
    align-items: center;
    border-radius: 10px ;
    height: 38px;
    width: 462px;
    /* position: absolute; */
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.input-section input{
    background-color: #2E2E2F;
    border: none;
    color: #A5A5A5;
    padding-left: 20px;
    height: 100%;
    
}
.input-section input::placeholder{
    color: #A5A5A5;
}
.input-section button{
    display: block;
    border: none;
    background-color: #4B4B4B;
    color: white;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: inherit;

}
.input-section button:hover, .input-section button:active{
    background-color: #5b5b5b;
}

input{
    outline: none;
}
.input-section i{
    width: 100%;
    color: #5b5b5b;
}


.line-1{
    
}
.movie-name{
    font-size: 18px;
}
.rating-icon{
    color: #FEC654;
    font-size: 12px;
}
.movie-subheading{
    font-size: 12px;
}
.line-2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.movie-holder{
    display: flex;
    align-items: center;
    gap: 21px;
    justify-content: center;
}
.search-list, .watch-list{
    position: relative;
    width: 550px;
    margin: 30px auto;
}
.add-to-watchlist, .remove-from-watchlist{
    border: none;
    font-size: 14px;
    border-radius: 100%;
    padding: 0px;
}
.add-to-watchlist:hover, .add-to-watchlist:active{
    background-color: #5b5b5b;
}
.watchlist-add-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.add-to-watchlist i{
    pointer-events: none;
}

.line-1, .line-2, .line-3{
    line-height: 20px;
    width: 342px;
}
.line-2, .line-3{
    margin-top: 8px;
}
.line-3{
    height: 60px;
    font-size: 14px;
    color: #A5A5A5;
}
.line-3 p{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

}

.image-holder{
    width: 99px;
    height: 148px;
}
.poster-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.line-between{
    margin: 30px auto;
    width: 461px;
    border-color: #4B4B4B;
}

.initial-state{
    width: 150px;
    color: #2E2E2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    top: 100px;
}
.initial-state p{
    font-size: 18px;
}
.initial-state img{
    width: 70px;
}

/* @media (max-width: 470px){
    .cover{
        flex-direction: column;
    }
    .cover h1{
        font-size: 30px;
    }
} */